MyProject.uproject
MyProject.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MyProject.xcworkspace/xcuserdata/saudnaumani.xcuserdatad/UserInterfaceState.xcuserstate
MyProject.xcworkspace/xcuserdata/saudnaumani.xcuserdatad/WorkspaceSettings.xcsettings
Content/Maps/NewMap.umap
Content/Maps/NewMap_BuiltData.uasset
Saved/AutoScreenshot.png
Saved/Autosaves/Game/Maps/NewMap_Auto1.umap
Saved/Backup/NewMap_2018-09-17-22-06-58.umap
Saved/Backup/NewMap_2018-09-17-22-18-07.umap
Source/MyProject/ProjectReport.cpp
